/*  BASE -------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (max-width: 1080px) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 54%;
  }
}

body {
  font-size: 1.6rem;
  font-family: 'Titillium Web', sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

::selection {
  background: #7159c1;
  color: #fff;
}

.center {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 3rem;
}


/*  HEADER ------------------------------------------------------------------ */

header {
  position: relative;
  width: 100%;
  height: 100px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .16);
  z-index: 2;
}

header .center {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: #7159c1;
  font-size: 2.8rem;
}

header nav a {
  position: relative;
  color: #777;
  font-size: 1.6rem;
  transition: color .3s;
}

header nav a + a {
  margin-left: 2em;
}

header nav a:hover {
  color: #7159c1;
}

header nav a.active {
  color: #7159c1;
  font-weight: 700;
}

header nav a.active:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -2px;
  background: #0fcac6;
}

header nav a.nav-btn {
  background: #0fcac6;
  border: 2px solid #0fcac6;
  padding: .3em 1em;
  border-radius: 4px;
  color: #fff;
  transition: background .3s, color .3s;
}

header nav a.nav-btn:hover {
  background: none;
  color: #0fcac6;
}

@media (max-width: 720px) {
  header nav {
    display: none;
  }

  header .menu {
    font-size: 22px;
    color: #7159c1;
  }

  header .menu.open {
    position: fixed;
    z-index: 2;
    right: 3rem;
  }

  header .menu.open + nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .9);
  }

  header nav a {
    font-size: 2.4rem;
  }

  header nav a + a {
    margin: 2rem 0 0;
  }
}

@media (min-width: 721px) {
  header .menu {
    display: none;
  }
}


/* BANNER ------------------------------------------------------------------- */

.banner {
  width: 100%;
  height: 650px;
  background-image: linear-gradient(-19deg, #21fdec 0%, #B721FF 100%);
}

.banner .center {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner img {
  height: 300px;
  flex-shrink: 0;
}

.banner-text {
  color: #fff;
  margin-right: 8rem;
}

.banner-text h1 {
  font-weight: 700;
  font-size: 5.4rem;
  line-height: 1.1;
}

.banner-text p {
  font-size: 1.7rem;
  margin-top: 1rem;
  opacity: .8;
}

.banner-links {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
}

.banner-links a {
  font-size: 1.5rem;
  text-decoration: underline;
}

.banner-links a:hover {
  text-decoration: none;
}

.banner-links a.banner-btn {
  margin-right: 2.2rem;
  padding: .5em 1em;
  background: #0fcac6;
  color: #fff;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  transition: transform .2s, box-shadow .2s;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .15);
}

.banner-links a.banner-btn i {
  margin-left: .5rem;
}

.banner-links a.banner-btn:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
  transform: translateY(-3px);
}

.banner-links a.banner-btn:active {
  transform: translateX(0);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
}

@media (max-width: 1180px) {
  .banner {
    height: 450px;
  }

  .banner img {
    height: 180px;
  }

  h1 {
    font-size: 4rem;
  }
}

@media (max-width: 780px) {
  .banner {
    height: auto;
    padding: 4rem 0;
    background-image: linear-gradient(-19deg, #B721FF 0%, #21fdec 100%);
  }

  .banner .center {
    flex-direction: column;
  }

  .banner-text {
    margin-right: 0;
  }

  .banner-text h1 {
    font-size: 3rem;
  }

  .banner img {
    order: -1;
    margin-bottom: 3rem;
  }
}

@media (max-width: 480px) {
  .banner-links {
    flex-direction: column;
  }

  .banner-links a.banner-btn {
    margin-bottom: 1rem;
  }
}


/* SOBRE -------------------------------------------------------------------- */

.about {
  padding: 8rem 0;
}

.about .center {
  display: flex;
  align-items: center;
}

.about img {
  display: block;
  border-radius: 4px;
}

.about-text {
  margin-left: 4rem;
}

.about-text h1 {
  color: #7159c1;
  line-height: 1.2;
  font-size: 3.4rem;
  font-weight: 400;
}

.about-text p {
  color: #777;
  margin: .5rem 0 1.5rem;
  font-size: 1.7rem;
}

.about-text ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -1.5rem;
}

.about-text li {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  font-weight: bold;
  margin-bottom: 3px;
}

.about-text i {
  color: #0fcac6;
  font-size: 12px;
  margin-right: 8px;
}

@media (max-width: 1240px) {
  .about img {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .about .center {
    align-items: flex-start;
  }

  .about-text ul {
    flex-direction: column;
  }

  .about-text li {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .about {
    padding: 4rem 0;
  }

  .about img {
    display: none;
  }

  .about-text {
    margin-left: 0;
  }

  .about-text h1 {
    font-size: 2.8rem;
  }
}


/* TECNOLOGIAS -------------------------------------------------------------- */

.tech {
  background: #eee;
  text-align: center;
  padding: 6rem 0;
}

.tech h2 {
  color: #555;
  font-weight: 300;
  font-size: 4rem;
}

.tech h3 {
  color: #777;
  font-weight: 400;
}

.tech-list {
  margin: 4.5rem -1rem 0;
  display: flex;
  flex-wrap: wrap;
}

.tech-wrapper {
  width: 25%;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.tech-item {
  display: block;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: transform .2s, box-shadow .2s;
}

.tech-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
}

.tech-item h4 {
  display: flex;
  align-items: center;
  color: #7159c1;
  padding: 1.5rem 1.5rem .8rem;
}

.tech-item h4 img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.tech-item p {
  text-align: left;
  color: #888;
  padding: 0 1.5rem;
}

.tech-info {
  border-top: 1px solid #ddd;
  margin-top: 1.5rem;
  display: flex;
}

.tech-info div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.tech-info div + div {
  border-left: 1px solid #ddd;
}

.tech-info div i {
  font-size: 14px;
  color: #0fcac6;
}

.tech-info div span {
  color: #666;
  font-size: 1.5rem;
  margin-top: .3rem;
}

@media (max-width: 920px) {
  .tech-wrapper {
    width: 50%;
  }

  .tech {
    padding: 4rem 0;
  }

  .tech h2 {
    font-size: 2.8rem;
  }
}

@media (max-width: 550px) {
  .tech-list {
    margin-top: 3rem;
  }

  .tech-wrapper {
    width: 100%;
  }
}


/* BLOG --------------------------------------------------------------------- */

.blog {
  padding: 8rem 0 10rem;
}

.blog .center {
  display: flex;
  justify-content: space-between;
}

.blog-post {
  width: 550px;
  background: #fff;
  box-shadow: 0 20px 30px rgba(113, 89, 193, .2);
  border-radius: 4px;
  overflow: hidden;
  transition: box-shadow .3s;
}

.blog-post > img {
  width: 100%;
  display: block;
}

.blog-post i {
  color: #0fcac6;
  font-size: 14px;
}

.post-content {
  padding: 2rem;
  display: flex;
}

.post-content .avatar {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 50%;
  margin-top: -40px;
  margin-right: 2.5rem;
}

.post-text .date {
  display: flex;
  align-items: center;
  color: #666;
}

.post-text .date i {
  margin-right: 8px;
}

.post-text h3 {
  color: #444;
  line-height: 1.3;
  margin-top: .75rem;
  transition: color .3s;
}

.post-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.post-footer span {
  font-size: 1.5rem;
  color: #666;
  line-height: 1;
}

.post-footer i {
  margin: 0 5px;
  font-size: 13px;
  transition: transform .2s;
}

.post-footer span:first-child {
  width: 100px;
  justify-content: center;
  font-weight: bold;
}

.blog-post:hover {
  box-shadow: 0 15px 20px rgba(113, 89, 193, .35);
}
.blog-post:hover .post-text h3 {
  color: #7159c1;
}
.blog-post:hover .post-footer span:first-child i {
  transform: translateX(5px);
}

@media (max-width: 1240px) {
  .blog {
    padding: 5rem 0 7rem;
  }

  .blog-post {
    width: calc(50% - 2rem);
  }

  .post-content .avatar {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 720px) {
  .blog .center {
    flex-direction: column;
    align-items: center;
  }

  .blog-post {
    width: 100%;
    max-width: 500px;
  }

  .blog-post + .blog-post {
    margin-top: 4rem;
  }

  .post-content {
    flex-direction: column;
  }

  .post-text {
    margin-top: 1.5rem;
  }

  .post-content .avatar {
    align-self: center;
  }
}

/* FOOTER ------------------------------------------------------------------- */

footer {
  background: #7159c1;
  text-align: center;
  padding: 5rem 0;
}

footer img {
  opacity: .25;
  width: 5rem;
}

footer p {
  opacity: .55;
  font-size: 1.5rem;
  margin-top: 1rem;
}
